{% extends "aplicacion/index.html" %}

{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">Goleadores</h1>
{% endblock titulo %}

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Jugador</th>
            <th>Goles</th>
        </tr>
    </thead>
    <tbody>
    {% for c in goleadores %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.goles }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
